.sectionencabezado__divcontdor {
    background: url(../img/cabecera.jpg);
    background-size: cover;
    height: 1vh;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    padding: 100px;
}

.sectionencabezado__h2titulo {
    color: var(--secundario-gris-claro);
}

.sectionesp {
    padding-top: 3rem;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.sectionesp__divespizquierda {
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
    height: auto;
    padding: 2rem;
    border: 5px solid var(--primario-azul-oscuro);
    border-radius: 10px;
    display: flex;
}

.sectionesp__divimagen {
    width: 50%;
    height: 400px;
    overflow: hidden;
}

.sectionesp__imgesp {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionesp__divtexto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primario-azul-oscuro);
    gap: 2rem;
    line-height: 1.3;
}

.sectionesp__divespderecha {
    width: 100%;
    margin: 0 auto;
    gap: 2rem;
    height: auto;
    padding: 2rem;
    border: 5px solid var(--primario-azul-petroleo);
    background-color: var(--primario-azul-petroleo);
    border-radius: 10px;
    display: flex;
}

.sectionesp__divespderecha .sectionesp__divtexto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primario-azul-claro);
    line-height: 1.3;
}

/* Responsives -------------------- */
@media screen and (max-width: 768px) {

    .sectionesp__divespizquierda,
    .sectionesp__divespderecha {
        display: flex;
        flex-direction: column;
    }

    .sectionesp__divimagen,
    .sectionesp__divtexto {
        height: auto;
        width: 100%;
    }

    .sectionesp__divespderecha .sectionesp__divtexto {
        height: auto;
        width: 100%;
    }

    .sectionesp__divespderecha {
        background-color: var(--primario-azul-petroleo);
        border: 5px solid var(--primario-azul-petroleo);
    }
}