/* RESET personalizado */

:root {
    /* COLORES PRIMARIOS */
    /* azul petroleo */
    --primario-azul-petroleo: #3a758c;
    /* marino oscuro */
    --primario-azul-oscuro: #262f40;
    /* hueso */
    --primario-hueso: #f9f9f9;
    /* azul claro */
    --primario-azul-claro: #c4e1f2;
    /* COLORES SECUNDARIOS */
    /* verde claro */
    --secundario-fondo-verde: #effff8;
    /* gris */
    --secundario-gris: #85888c;
    /* gris claro*/
    --secundario-gris-claro: #f2f2f2;
    /* gris oscuro*/
    --secundario-gris-oscuro: #C5D1D9;
    /* COLORES RESALTADOS */
    --resaltado-verde: #00ff00;
    --resaltado-rojo: #ff0000;
    --resaltado-naranja: #ff8400;
}

/* Margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /* compatibilidad con navegadores antiguos */
    box-sizing: border-box;
}

html {
    /* Efectos suaves */
    scroll-behavior: smooth;
}

/* BODY - Altura mínima y color de fondo*/
body {
    min-height: 100vh;
    background-color: var(--secundario-fondo-verde);
    /* fuente */
    font-family: Arial, Helvetica, sans-serif;
}

/* Quitar estilo y viñetas*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ___________________________________ */

/* ENCABEZADO Y MENU */
.header {
    /* display: block; */
    background-color: var(--primario-azul-oscuro);
    box-shadow: 1px 1px 5px 0px var(--secundario-gris);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__divheader {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.header__imglogo {
    display: inline-block;
    width: 140px;
    height: auto;
}

.header__nav {
    width: 50%;
    position: fixed;
    overflow: hidden;
    top: 80px;
    right: 0;
    background-color: rgba(38, 47, 64, 0.95);
}

.header__alink {
    display: block;
    padding: 30px;
    /* background-color: rgba(38, 47, 64, 0.95); */
    color: white;
    color: var(--primario-hueso);
}

.header__alink:hover {
    color: white;
    background-color: rgba(58, 117, 140, 0.95);
}

.header__nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* MENU HAMBURGUESA */
.header__labelhamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Estilo label (Barras Menú Hamburguesa) */
.header__spanhambline {
    background: var(--primario-hueso);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Animación del Icono hamburquesa */
.header__spanhambline::before,
.header__spanhambline::after {
    background: var(--primario-hueso);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header__spanhambline::before {
    top: 5px;
}

.header__spanhambline::after {
    top: -5px;
}

/* No se muestra el input */
.header__inputhamb {
    display: none;
}

/* Mostrar/Ocultar Menú nav*/
.header__inputhamb:checked~.header__nav {
    max-height: 100%;
}

.header__inputhamb:checked~.header__labelhamb .header__spanhambline {
    background: transparent;
}

.header__inputhamb:checked~.header__labelhamb .header__spanhambline::before {
    transform: rotate(-45deg);
    top: 0;
}

.header__inputhamb:checked~.header__labelhamb .header__spanhambline::after {
    transform: rotate(45deg);
    top: 0;
}

/* Cuando el ancho de la ventana sea igual o mayor que 900px */
@media (min-width: 900px) {

    /* Responsive Header */
    .header__nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    .header__litem {
        float: left;
    }

    .header__alink {
        color: var(--primario-hueso);
    }

    .header__alink:hover {
        color: var(--secundario-gris);
        background-color: transparent;
    }

    .header__labelhamb {
        display: none;
    }
}

.header__alink--reserva {
    color: var(--resaltado-naranja);
    font-weight: bold;
}

.header__alink--reserva:hover {
    color: var(--resaltado-rojo);
}

/* _________________MAIN____________________ */
/* Banner */
.section {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionbanner__divcontdor {
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}

.sectionbanner__divtexto {
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--secundario-gris-claro);
    border-radius: 20px;
    background: rgba(5, 2, 78, 0.3);
    padding: 5%;
}

.sectionbanner__h1titulo {
    font-size: 2.5em;
}

.sectionbanner__parrafo {
    margin-top: 2%;
    font-size: 1.8em;
}

.sectionbanner__divbtn {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 20px;
}

.sectionbanner__aleermas {
    margin-top: 2%;
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid var(--primario-azul-claro);
    font-weight: bold;
    color: #fff;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.sectionbanner__aleermas:hover {
    background-color: var(--primario-azul-claro);
    color: var(--primario-azul-oscuro);
    font-weight: bold;
}

/* Whatsap */
.sectionbanner__divwsp {
    /* flotante */
    position: fixed;
    bottom: 10%;
    right: 5%;
    text-align: center;
}

.sectionbanner__imgwsp {
    width: 60px;
    height: 60px;
}

.sectionbanner__spanumero {
    font-weight: bold;
    color: white;
    background-color: #4bc759;
    padding: 0 4px;
    border: solid 4px white;
    border-radius: 0.75vw;
    box-shadow: 1px 2px 0px #BFC8D0;
}

/* _______Nuestros Servicios______ */

.sectionservicios__divcontdor {
    width: 80%;
    height: 100%;
    margin-top: -4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--primario-azul-oscuro);
    box-shadow: 0 0 10px black;
}

.sectionservicios__divfoto {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionservicios__divespec {
    width: 45%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: start;
    color: var(--primario-azul-claro);
}

.sectionservicios__h2titulo {
    margin-bottom: 2rem;
}

.sectionservicios__imgfoto {
    width: 85%;
    height: 85%;
    object-fit: cover;
}

.sectionservicios__litem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sectionservicios__divicono {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.sectionservicios__imgicono {
    width: 50px;
    height: 50px;
    fill: white;
    padding: 7px;
    border: 1px solid var(--secundario-gris-claro);
    border-radius: 50%;
}

.sectionservicios__aleermas {
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--primario-azul-claro);
    color: var(--primario-azul-claro);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.sectionservicios__aleermas:hover {
    background-color: var(--primario-azul-claro);
    color: var(--primario-azul-oscuro);
}

/* _________________EQUIPO____________________ */
.sectionequipo__divcontdor {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 30px;
    border: 5px solid var(--primario-azul-oscuro);
    border-radius: 10px;
}

.sectionequipo__divcard {
    width: 270px;
    height: 450px;
    background-color: var(--secundario-gris-oscuro);
    color: var(--primario-azul-oscuro);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in;
}

.sectionequipo__divcard:hover {
    transform: scale(1.05);
}

.sectionequipo__divfoto {
    width: 100%;
    height: 80%;
    overflow: hidden;
    padding: 35px;
}

.sectionequipo__imgfoto {
    width: 100%;
    object-fit: cover;
}

.sectionequipo__divdoctor {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 25px;
    color: var(--primario-azul-oscuro);
    gap: 0.5rem;
    font-size: 18px;
}

/* EQUIPO card */
.sectionequipo__divpresen {
    width: 270px;
    height: 450px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.sectionequipo__divintro {
    width: 100%;
    height: 40%;
    font-size: 48px;
    color: var(--primario-azul-oscuro);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.sectionequipo__htitulo {
    height: 60%;
    color: var(--primario-azul-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sectionequipo__pdescripcion {
    color: var(--primario-azul-oscuro);
    padding: 10px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 18px;
}

.sectionequipo__alink {
    padding: 8px 15px;
    border: 2px solid var(--primario-azul-oscuro);
    background-color: transparent;
    color: var(--primario-azul-oscuro);
    transition: .2s ease-in;
    font-weight: bold;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
}

.sectionequipo__alink:hover {
    color: var(--secundario-gris-oscuro);
    border: 2px solid var(--primario-azul-oscuro);
    background-color: var(--primario-azul-oscuro);
}

/* DEJANOS EL TELEFONO_*/
.seccioncontacto__divcontdor {
    background-color: var(--primario-azul-petroleo);
    width: 100%;
    height: 250px;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.seccioncontacto__divtexto {
    text-align: center;
}

.seccioncontacto__ptelefono {
    font-size: 20px;
    color: var(--primario-azul-claro);
    margin-bottom: 0.5rem;
}

.seccioncontacto__h3llamamos {
    color: var(--primario-azul-oscuro);
    font-size: 30px;
}

.seccioncontacto__formtelef {
    display: flex;
    gap: 0.4rem;
}

.seccioncontacto__inputelef {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--primario-azul-claro);
}

.seccioncontacto__inputelef:focus {
    outline: none;
}

.seccioncontacto__btntelef {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primario-azul-oscuro);
    color: var(--primario-azul-claro);
    font-size: 20px;
}

.seccioncontacto__btntelef:hover {
    cursor: pointer;
}

/*___________________ESTILOS_MODAL________________________*/
.header__divcontdorform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Transparencia para efecto superponer */
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.header__divformulario {
    background-color: var(--primario-azul-oscuro);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 600px;
    height: 80%;
    max-height: 600px;
    margin: 100px 0 0;
    position: relative;
}

.header__btncerrar {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 0 0;
}

.header__imgbtncerrar {
    width: 24px;
    height: 24px;
}

.header__formcita {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    gap: 10px;
    color: var(--secundario-gris-claro);
}

.header__h3titulo {
    font-size: 28px;
}

.header__divdatosformulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: start;
    position: relative;
    display: inline-block;
}

.header__inputnombre {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid var(--secundario-gris-claro);
    border-radius: 10px;
    margin: 3px 0 0;
    color: var(--secundario-gris-claro);
    background-color: transparent;
}

.header__inputnombre:focus {
    outline: none;
}

.header__btnformulario {
    /* width: 100%; */
    padding: 10px;
    background-color: var(--primario-azul-petroleo);
    color: var(--secundario-gris-oscuro);
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

/*___________________FOOTER_______________________*/
.footer {
    background-color: var(--primario-azul-oscuro);
    width: 100%;
    margin: 3px 0 0;
}

.footer__divcontdor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.footer__divlogo {
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__divcontacto {
    color: var(--primario-azul-claro);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.footer__divredes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer__imgred {
    width: 20px;
    height: 20px;
}

.footer__divmapa {
    margin: 1rem 0 0;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__imgmapa {
    width: 100%;
    height: 100%;
}

.footer__pderechos {
    text-align: center;
    color: var(--primario-azul-petroleo);
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Responsive Servicios y Footer Mobile*/
/* _________________Media______________________ */
@media(max-width: 1050px) {
    .header__ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    .sectionservicios__divcontdor {
        width: 90%;
        height: fit-content;
        margin: -2rem 0 0 ;
        display: flex;
        flex-direction: column;
    }

    .sectionservicios__divfoto {
        margin: 0 auto;
        padding-top: 1.5rem;
        width: 100%;
    }

    .sectionservicios__divespec {
        width: 100%;
        display: block;
        height: 100%;
        padding: 1rem 2rem;
    }

    /* Footer Media */
    .footer__divcontdor {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__divlogo {
        display: none;
    }

    .footer__divcontacto {
        margin: 1rem 0 0;
    }
}