/* Custom properties */
:root {
    font-family: Arial;
}

/* Margin y paddings de todas las etiquetas */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Imagenes */


/* ... excepto las que se encuentran en párrafos */

/* Quitar puntos de los <li> */


/* Anclas suaves */
html {
    scroll-behavior: smooth;
}

/* Los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
}

/* ____________________________________________ */

/* BODY_____________________ */
/*HEADER_____________________ */
/* Estilos para pantallas grandes */
:root {
    --white: #f9f9f9;
    --black: #262f40;
    --gray: #85888C;
}

/* variables*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
.header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

/* Logo */

.logo>img {
    display: inline-block;
    width: 130px;
    height: auto;
    margin-left: 10%;
    margin-top: 20px;
}

.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu {
    margin-right: 100px;
}

.li_personalizado {
    display: flex;
    align-items: center;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--gray);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.reserva__btn {
    color: #3A758C;
    font-weight: bolder;
}

/* Responsiveness */
@media (min-width: 1050px) {
    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--gray);

    }

    .hamb {
        display: none;
    }
}

.reserva__btn {
    color: #3A758C;
    font-weight: bolder;
}

/* _________________MAIN____________________ */
/* Banner */
.section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #effff8;
}

.divbanner__content {
    background: url(../img/banner1.jpg);
    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10%;
}

.banner {
    background: url(../img/banner1.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}


.divbanner__divcontent--text {
    width: 70%;
    height: 60vh;
    text-align: right;
    color: #f2f2f2;
    border-radius: 20px;
    background: rgba(5, 2, 78, 0.3);
    padding: 5%;
}

.divbanner__divcontent--text h2 {
    font-size: 2.5em;
}

.divbanner__divcontent--text p {
    margin-top: 2%;
    font-size: 1.8em;
}

.divbanner__divcontent--text li {

    color: white;
}

.section__divservices {
    width: 80%;
    height: 100%;
    margin-top: -4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: #262f40;
    box-shadow: 0 0 10px #000;
}

.image__divcontainer {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen_telefono {
    width: 30px;
    height: 30px;
}

.service__divinfo_container {
    width: 45%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: start;
    color: #c4e1f2;
}

.main__section-ul {
    gap: 0.3rem;
    list-style: none;
}

.service__divinfo_container>h2 {
    margin-bottom: 2rem;
}

.main__section-image {
    width: 85%;
    height: 85%;
    object-fit: cover;
}

.main__section-ul-li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div__container_li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.div__container_li a {
    color: #fff;
    text-decoration: none;
}

.icon__service-img {
    width: 50px;
    height: 50px;
    fill: #fff;
    padding: 7px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}

.btn__mas_info {
    padding: 10px 30px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #c4e1f2;
    color: #c4e1f2;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.btn__mas_info:hover {
    background-color: #c4e1f2;
    color: #262f40;
}


/* _________________NOSOTROS____________________ */

.section__nosotros {
    width: 100%;
    margin: 2rem;
    text-align: center;
}

.section__nosotros>h2 {
    font-size: 27px;
    color: #262f40;
}

.section__divcards {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #effff8;
    padding: 30px;
    border: 5px solid #262f40;
    border-radius: 20px;

}

.divdoctors__card {
    width: 280px;
    height: 450px;
    background-color: #C5D1D9;
    color: #262f40;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in;
}

.divdoctors__card:hover {
    transform: scale(1.05);
}

.container__imagen {
    width: 100%;
    height: 80%;
    overflow: hidden;
    padding: 35px;
}

.main__doctor-image {
    width: 100%;
    object-fit: cover;
}

.contenido__doctor {
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 25px;
    color: #262f40;
    gap: 0.5rem;
    font-size: 18px;
}

/* Nosotros divcard */
.nosotros_divcard {
    width: 280px;
    height: 450px;
    background-color: #effff8;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.nosotros_divenunciado {
    width: 100%;
    height: 40%;
    font-size: 48px;
    color: #262f40;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.container_texto_nosotros {
    height: 60%;
    color: #262f40;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.texto__sobre_nosotros {
    color: #262f40;
    padding: 10px;
    line-height: 1.5;
    font-weight: bolder;
    font-size: 18px;
}

.link__sobre_nosotros {
    padding: 8px 15px;
    border: 2px solid #262f40;
    background-color: transparent;
    color: #262f40;
    transition: .2s ease-in;
    font-weight: bolder;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
}

.link__sobre_nosotros:hover {
    color: #C5D1D9;
    border: 2px solid #262f40;
    background-color: #262f40;
}

/*____________________DEJANOS_EL_TELEFONO__________________________*/
.dejanos__numero_container {
    background-color: #3A758C;
    width: 100%;
    height: 250px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contenido__dejanosnumero {
    text-align: center;
}

.contenido__dejanosnumero>p {
    font-size: 20px;
    color: #C4E1F2;
    margin-bottom: 0.5rem;
}

.contenido__dejanosnumero>h3 {
    color: #262F40;
    font-size: 30px;
}

.formulario__numerotelefono {
    display: flex;
    gap: 0.4rem;
}

.formulario__numerotelefono>input {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #c4e1f2;
}

.formulario__numerotelefono>input:focus {
    outline: none;
}

.formulario__numerotelefono>button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #262F40;
    color: #c4e1f2;
    font-size: 20px;
}


/*___________________ESTILOS_MODAL________________________*/

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal {
    background-color: #262F40;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 600px;
    height: 80%;
    max-height: 600px;
    margin-top: 100px;
    position: relative;
}

.close__btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin: 10px;
}

.close__btn img {
    width: 24px;
    height: 24px;
}

.formulario__datoscliente {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    gap: 10px;
    color: #f2f2f2;
}

.formulario__datoscliente>h3 {
    font-size: 28px;
}

.input__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: start;
    position: relative;
    display: inline-block;
}


.input__form>input {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 3px;
    color: #f2f2f2;
    background-color: transparent;
}

.input__form>input:focus {
    outline: none;
}

.btn__formulario {
    width: 100%;
    padding: 10px;
    background-color: #3A758C;
    color: #C5D1D9;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 20px;
}

/*___________________FOOTER_______________________*/
.section__footer {
    background-color: #262F40;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.section__footer>p {
    text-align: center;
    color: #3A758C;
    padding-top: 10px;
    padding-bottom: 20px;
}

.columns__container {
    display: flex;
    height: 100%;
    gap: 7rem;
    justify-content: center;
}

.column__logo {
    width: 200px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.column__logo>img {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.column__contacto_info {
    color: #c4e1f2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.column__social_network {
    display: flex;
    gap: 10px;
    justify-content: start;
}

.column__social_network>img {
    width: 20px;
    height: 20px;
}

.column__mapa {
    margin-top: 30px;
    width: 300px;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.column__mapa>img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* _________________MEDIA______________________ */

@media(max-width:768px) {
    .header__divsearchbotton {
        position: absolute;
    }

    .header__ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    .header__divmenuburger {
        display: block;
        width: 100px;
        text-align: center;
    }

    .section__divservices {
        width: 90%;
        height: fit-content;
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
    }

    .image__divcontainer {
        margin: 0 auto;
        padding-top: 1.5rem;
        width: 100%;
    }

    .service__divinfo_container {
        width: 100%;
        display: block;
        height: 100%;
        padding: 1rem 2rem;
    }

    .main__section-ul {
        width: 100%;
        font-size: auto;
    }

    .section__footer {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .columns__container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .column__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        
    }

    .column__logo>img {
        margin-top: 20px;
        width: 150px;
        height: 150px;
    }

    .column__contacto_info {
        text-align: center;
    }

    .column__social_network {
        justify-content: center;
    }

    .column__social_network>img {
        width: 15px;
        height: 15px;
    }

    .column__mapa {
        margin-top: 20px;
        width: 100%;
        height: 150px;
    }

    #checkboxburger:checked~ul {
        right: 0;
    }

}